# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.QualityCheckDemo.iml
# Datasource local storage ignored files
/../../../../../../../:\project\visual Studio Project\QualityCheckDemo\.idea\.idea.QualityCheckDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
